{{> head }}


{{> navbar }}

<div class="row justify-content-center align-items-center">
    <div class="col-6 text-center" >
        <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore alias cumque voluptates doloremque,
            dicta ipsum minus omnis vel accusantium! Magni, accusantium! A tempore veritatis illo? Animi laborum
            obcaecati explicabo harum?</h6>
    </div>
    <div class="col-6" style="padding: 50px;">
        <img src="assets/img/image.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}