
{{> head }}


    {{> navbar }}

    <div class="jumbotron m-4">
            <h1 class="display-4">Hola, {{capitalizar nombre}}!</h1>
        <p class="lead">Bienvenido a esta pagina web muy basica desarrollada con Handlebars y Node</p>
        <hr class="my-4">
        <p>Nos permite tener una demo de como generar un web-server basico con Express</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">Ver más</a>
    </div>

{{> footer}}